<ion-toolbar>
  <ion-title>Lista de Estoques</ion-title>
  <ion-buttons slot="start">
    <ion-button fill="clear" class="options-button" href="categorias">
      <img src="assets/icon/icons8-voltar-50.png" alt="Filtro">
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-card>
  <form (ngSubmit)="salvarCategoria()">
    <ion-item>
      <ion-label position="floating">Nome da Categoria</ion-label>
      <ion-input [(ngModel)]="categoriaForm.nome" name="nome" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo da Categoria</ion-label>
      <ion-input [(ngModel)]="categoriaForm.tipo" name="tipo" required></ion-input>
    </ion-item>
    <ion-button class="salvar-button" expand="full" type="submit">
      {{ isEditando ? 'Atualizar Categoria' : 'Adicionar Categoria' }}
    </ion-button>
  </form>
</ion-card>

</ion-content>
