<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-header">Histórico</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Filtro de Data com input tipo date -->
<ion-item>
  <ion-label>Data</ion-label>
  <input type="date" [(ngModel)]="DataSelecionada" (change)="filterByDate(DataSelecionada)" />
</ion-item>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Seção de Movimentações -->
    <ion-item-divider color="light">
      <ion-label>Movimentações</ion-label>
    </ion-item-divider>

    <ng-container *ngIf="filteredMovimentacoes.length > 0; else noData">
      <ion-item *ngFor="let movimentacao of filteredMovimentacoes">
        <ion-avatar slot="start">
          <ion-icon name="archive-outline" class="icon-style"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ movimentacao.id_produto }}</h2>
          <p>Quantidade: {{ movimentacao.quantidade }}</p>
          <p>Tipo: {{ movimentacao.tipo }}</p>
        </ion-label>
        <ion-note slot="end">{{ movimentacao.data_movimentacao | date: 'fullDate' }}</ion-note>
      </ion-item>
    </ng-container>

  </ion-list>

  <!-- Caso nenhuma movimentação seja encontrada -->
  <ng-template #noData>
    <ion-item>
      <ion-label>
        <h2>Nenhuma movimentação encontrada para a data selecionada.</h2>
      </ion-label>
    </ion-item>
  </ng-template>
</ion-content>
