ion-toolbar {
    --color: black;
    font-weight: bold;
 }
 
 .more-button{
   width: 60px;
   height: 60px;
   --color: #000;
   background-color: #918585;
   border-radius: 5px;
}
 
  ion-input {
     background-color: #f4f5f9;
     border-radius: 5px;
  }
 
  .label{
     padding-left: 20px;
     font-weight: bold;
     font-size: 15px;
     color: black;
  }
 
  .salvar-button{
    --background: rgb(255,255,255);
     --background: linear-gradient(90deg, rgba(255,255,255,1) 3%, rgba(253,126,20,1) 60%);
     --color:  rgb(255,255,255);
     font-weight: bold;
     height: 50px;
     
  }