ion-toolbar {
    --background: #FFFFFF; /* Fundo branco */
    --color: #000000; /* Texto preto */
    padding: 10px 20px;
    font-weight: bold;
}

ion-list {
    margin: 10px;
}

.options-button {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #666565; /* Fundo preto */
    color: #FFFFFF; /* Texto branco */
}

ion-card {
    --background: #FFFFFF; /* Fundo branco */
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 10px;
}

ion-card-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #000000; /* Texto preto */
}

.card-image {
    width: 50px;
    margin-right: 10px;
    border-radius: 8px;
}

ion-card-subtitle {
    font-size: 14px;
    color: #000000; /* Texto preto */
}

ion-button {
    --background: #000000; /* Fundo preto */
    color: #FFFFFF; /* Texto branco */
}

.more-and-less {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinha os botões à direita */
    justify-content: flex-end;
    position: absolute;
    right: 0px; /* Ajuste para posicionar corretamente à direita */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente dentro do card */
}

.less, .more {
    width: 40px;
    height: 40px;
    margin-bottom: 5px; /* Espaçamento entre os botões */
    background-color: #000000; /* Fundo preto */
    color: #FFFFFF; /* Ícone branco */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Botões redondos */
}

ion-icon {
    font-size: 24px;
}
