<ion-toolbar>
  <ion-title>Lista de Produtos</ion-title>
  <ion-buttons slot="start">
    <ion-button fill="clear" class="options-button" href="tabs/tab3">
      <img src="assets/icon/icons8-voltar-50.png" alt="Filtro">
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button fill="clear" class="options-button" href="/saida-produtos">
      <img src="assets/icon/carrinho-de-compras.png" alt="">
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="produtos.length > 0">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let produto of produtos">
          <ion-label>
            <h2>{{ produto.nome }} ({{ produto.codigo_barras }})</h2>
            <p>Quantidade: {{ produto.quantidade }} - Valor: R$ {{ produto.valor }}</p>
          </ion-label>
          <ion-button color="primary" (click)="editProduto(produto)">Editar</ion-button>
          <ion-button color="danger" (click)="deleteProdutoByNome(produto.nome)">Excluir</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

