<ion-toolbar>
  <ion-title>Lista de Produtos</ion-title>
  <ion-buttons slot="end">
    <ion-button fill="clear" class="options-button">
      <img src="assets/icon/icons8-opções-de-ordenação-24.png" alt="Filtro">
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Primeiro Card -->
    <ion-card (click)="abrirProduto()">
      <ion-item lines="none">
        <ion-card-content>
          <ion-card-header>
            <ion-card-title>
              <img src="assets/icon/vegetable.png" alt="Brócolis Orgânico" class="card-image">
              {{productName}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-subtitle>
            {{productDate}}
            <p style="color: red;">Estoque Baixo</p>
            <p>{{productId}}</p>
          </ion-card-subtitle>
          <div class="more-and-less">
            <ion-button fill="clear" class="more">
              <img src="assets/icon/icons8-soma-48.png" alt="Adicionar">
            </ion-button>
            <ion-button fill="clear" class="less">
              <img src="assets/icon/icons8-subtração-30.png" alt="Remover">
            </ion-button>
          </div>
        </ion-card-content>
      </ion-item>
    </ion-card>

    <!-- Segundo Card (Estoque Baixo) -->
    <ion-card (click)="abrirProduto()">
      <ion-item lines="none">
        <ion-card-content>
          <ion-card-header>
            <ion-card-title>
              <img src="assets/icon/watermelon-smoothie.png" alt="Suco de Melancia" class="card-image">
              {{productName}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-subtitle>
            {{productDate}}
            <p style="color: red;">Estoque Baixo</p>
            <p>{{productId}}</p>
          </ion-card-subtitle>
          <div class="more-and-less">
            <ion-button fill="clear" class="more">
              <img src="assets/icon/icons8-soma-48.png" alt="Adicionar">
            </ion-button>
            <ion-button fill="clear" class="less">
              <img src="assets/icon/icons8-subtração-30.png" alt="Remover">
            </ion-button>
          </div>
        </ion-card-content>
      </ion-item>
    </ion-card>
               
    <!-- Terceiro Card (Estoque Baixo) -->
    <ion-card (click)="abrirProduto()">
      <ion-item lines="none">
        <ion-card-content>
          <ion-card-header>
            <ion-card-title>
              <img src="assets/icon/icons8-pêssego-48.png" alt="Pêssego Fresco" class="card-image">
              {{productName}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-subtitle>
            {{productDate}}
            <p style="color: red;">Estoque Baixo</p>
            <p>{{productId}}</p>
          </ion-card-subtitle>
          <div class="more-and-less">
            <ion-button fill="clear" class="more">
              <img src="assets/icon/icons8-soma-48.png" alt="Adicionar">
            </ion-button>
            <ion-button fill="clear" class="less">
              <img src="assets/icon/icons8-subtração-30.png" alt="Remover">
            </ion-button>
          </div>
        </ion-card-content>
      </ion-item>
    </ion-card>

    <!-- Quarto Card -->
    <ion-card (click)="abrirProduto()">
      <ion-item lines="none">
        <ion-card-content>
          <ion-card-header>
            <ion-card-title>
              <img src="assets/icon/candy.png" alt="Doces Sortidos" class="card-image">
              {{productName}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-subtitle>
            {{productDate}}
            <p style="color: red;">Estoque Baixo</p>
            <p>{{productId}}</p>
          </ion-card-subtitle>
          <div class="more-and-less">
            <ion-button fill="clear" class="more">
              <img src="assets/icon/icons8-soma-48.png" alt="Adicionar">
            </ion-button>
            <ion-button fill="clear" class="less">
              <img src="assets/icon/icons8-subtração-30.png" alt="Remover">
            </ion-button>
          </div>
        </ion-card-content>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

