<ion-toolbar>
  <ion-searchbar show-clear-button="focus" animated="true" placeholder="Pesquisar palavras-chave.."></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
    <ion-toolbar>
      <ion-card>
        <ion-card-content>
          <div style="display: flex; align-items: center; justify-content: space-between;">
            <div>
              <p style="font-size: 16px;">"NOME"</p>
              <p style="font-size: 20px; font-weight: bold; margin-top: 50%;">
                Olá, <span style="color: #8b572a;">Admin!</span>
              </p>
            </div>
            <div>
