<ion-toolbar>
  <div class="toolbar-container">
    <ion-button fill="clear" class="back-button" href="tabs/tab1">
      <img src="assets/icon/icons8-voltar-50.png" alt="Voltar">
    </ion-button>
    <div class="produto-img">
      <br><br><br>
      <img src="assets/icon/vegetable.png" alt="Brócolis Orgânico">
    </div>
  </div>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <div style="font-size: 20px; font-weight: bold; margin-left:6%;">
      <p>{{productName}}</p>
    </div>
    <div>
      <ion-button fill="clear" class="more-button">
        <img src="assets/icon/icons8-remover-100.png" alt="">
      </ion-button>
    </div>
  </div>
  <p style="margin: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
  <div style="margin: 10px 10px 10px 10px;">
    <p style="font-weight: bold;">Validade: {{productDate}}</p>
    <p style="font-weight: bold;">Código: {{productId}}</p> 
  </div>
  
 
  <div style="margin-top: 45%;">
    <ion-button class="salvar-button" fill="block">Adicionar ao Carrinho</ion-button>
  </div>
</ion-content>
