/* Define o fundo branco para a página */
ion-content {
    --background: #FFFFFF;  /* Cor de fundo da página */
}

/* Configura o fundo do ion-card para preto e a cor do texto para branco */
ion-card {
    --background: #000000;  /* Fundo do card em preto */
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 10px;
    color: #FFFFFF;  /* Cor do texto dentro do card */
}

ion-card-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF; /* Define a cor do título do card para branco */
}

ion-card-subtitle {
    font-size: 14px;
    color: #FFFFFF; /* Define a cor do subtítulo do card para branco */
}
