<ion-header>
  <ion-toolbar>
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <div style="font-size: 20px; font-weight: bold; margin-left:6%;">
        <p style="font-weight: bold; color:black">Criar Produto</p>
      </div>
      <div>
        <ion-button fill="clear" class="more-button">
          <img src="assets/icon/plus.png" alt="">
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div style="padding: 20px;">
      <ion-card-subtitle class="label">Nome do Produto:</ion-card-subtitle>
      <br>
      <ion-card-subtitle><ion-input placeholder="Nome:" [(ngModel)]="produto.nome"></ion-input></ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card>
    <div style="padding: 20px;">
      <ion-card-subtitle class="label">Estoque(Id):</ion-card-subtitle>
      <br>
      <ion-card-subtitle><ion-input placeholder="Insira aqui:" [(ngModel)]="produto.id_estoque"></ion-input></ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card>
    <div style="padding: 20px;">
      <ion-card-subtitle class="label">Quantidade:</ion-card-subtitle>
      <br>
      <ion-card-subtitle><ion-input placeholder="Insira aqui:" [(ngModel)]="produto.quantidade"></ion-input></ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card>
    <div style="padding: 20px;">
      <ion-card-subtitle class="label">Quantidade Minima:</ion-card-subtitle>
      <br>
      <ion-card-subtitle><ion-input placeholder="Insira aqui:" [(ngModel)]="produto.quantidade_minima"></ion-input></ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card>
    <div style="padding: 20px;">
      <ion-card-subtitle class="label">Valor:</ion-card-subtitle>
      <br>
      <ion-card-subtitle><ion-input placeholder="Insira aqui:" [(ngModel)]="produto.valor"></ion-input></ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card>
    <div style="padding: 20px;">
      <ion-card-subtitle class="label">Codigo de Barras:</ion-card-subtitle>
      <br>
      <ion-card-subtitle><ion-input placeholder="Insira aqui:" [(ngModel)]="produto.codigo_barras"></ion-input></ion-card-subtitle>
    </div>
  </ion-card>

  <div style="margin-top: 30px;">
    <ion-button class="salvar-button" fill="block" (click)="addProduto()">
      {{ isEditing ? 'Atualizar Produto' : 'Criar Produto' }}
    </ion-button>
  </div>

  <ion-card *ngIf="produtos.length > 0">
    <ion-card-header>
      <ion-card-title>Lista de Produtos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let produto of produtos">
          <ion-label>
            <h2>{{ produto.nome }} ({{ produto.codigo_barras }})</h2>
            <p>Quantidade: {{ produto.quantidade }} - Valor: R$ {{ produto.valor }}</p>
          </ion-label>
          <ion-button color="primary" (click)="editProduto(produto)">Editar</ion-button>
          <ion-button color="danger" (click)="deleteProdutoByNome(produto.nome)">Excluir</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
