<ion-header>
  <ion-toolbar>
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <div style="font-size: 20px; font-weight: bold; margin-left:6%;">
        <p style="font-weight: bold; color:black">Criar Produto</p>
      </div>
      <div>
        <ion-button fill="clear" class="more-button" href="tabs/tab2">
          <img src="assets/icon/icons8-lista-50.png" alt="">
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div style="padding: 20px;">
      <ion-card-subtitle class="label">Nome do Produto:</ion-card-subtitle>
      <br>
      <ion-card-subtitle>
        <ion-input placeholder="Nome:" [(ngModel)]="produto.nome"></ion-input>
      </ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Estoque</ion-label>
      <ion-select [(ngModel)]="produto.id_estoque" name="id_estoque" interface="popover" required>
        <ion-select-option *ngFor="let estoque of estoques" [value]="estoque.id_estoque">
          {{ estoque.nome }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <div style="padding: 20px;">
      <ion-card-subtitle class="label">Quantidade:</ion-card-subtitle>
      <br>
      <ion-card-subtitle>
        <ion-input placeholder="Insira aqui:" [(ngModel)]="produto.quantidade"></ion-input>
      </ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card>
    <div style="padding: 20px;">
      <ion-card-subtitle class="label">Quantidade Minima:</ion-card-subtitle>
      <br>
      <ion-card-subtitle>
        <ion-input placeholder="Insira aqui:" [(ngModel)]="produto.quantidade_minima"></ion-input>
      </ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card>
    <div style="padding: 20px;">
      <ion-card-subtitle class="label">Data de Validade:</ion-card-subtitle>
      <br>
      <ion-card-subtitle>
        <ion-input placeholder="Insira aqui:" [(ngModel)]="produto.data_validade"></ion-input>
      </ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card>
    <div style="padding: 20px;">
      <ion-card-subtitle class="label">Valor:</ion-card-subtitle>
      <br>
      <ion-card-subtitle>
        <ion-input placeholder="Insira aqui:" [(ngModel)]="produto.valor"></ion-input>
      </ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card>
    <div style="padding: 20px;">
      <ion-card-subtitle class="label">Codigo de Barras:</ion-card-subtitle>
      <br>
      <ion-card-subtitle>
        <ion-input placeholder="Insira aqui:" [(ngModel)]="produto.codigo_barras"></ion-input>
      </ion-card-subtitle>
    </div>
  </ion-card>

  <div style="margin-top: 30px;">
    <ion-button class="salvar-button" fill="block" (click)="addProduto()">
      {{ isEditing ? 'Atualizar Produto' : 'Criar Produto' }}
    </ion-button>
  </div>
</ion-content>
